/* @import for Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ------------------------------------------- */
/* GLOBAL STYLES */
/* ------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* Defining headline font (SF Pro Display-like) */
.logo-text {
  font-family: 'SF Pro Display', 'SF Pro Text', 'Inter', sans-serif;
  font-weight: 400 !important; 
  line-height: 38px !important; 
}

/* Ensuring body fills the entire screen */
body, #root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Zen Kaku Gothic Antique', sans-serif; 
  font-weight: 400;
}

/* ------------------------------------------- */
/* GLOBAL LAYOUT (GRID for Page Division) */
/* ------------------------------------------- */
.login-page-container {
  display: grid;
  grid-template-columns: 35% 1fr;
  justify-content: center;
  width: 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;