html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#leftsection{
  height:100vh;
  width:30vw;
  background-image: url("../src/assets/background.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0px;
  align-items: center;
  align-content: center;
}
#ourword{
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 31.25px;
  color: #FFFFFF;
  text-align: center;
  margin:0px;
}
#sometext{
  font-weight: 400;
  line-height: 1.6;
   margin: 0 auto;
  font-size: 16px;
  color: #FFFFFF;
  width: 70%;
  text-align: center;
}
#people{
  width:284px;
  height: 217px;
}
#beauty{
  width: 233px;
  height: 60px;
}
.container{
  display: flex;

  overflow: hidden;

}
#leftsection, .rightsection { position: relative; }
#leftsection img { pointer-events: none; }

.rightsection{
  height:100vh;
  width:70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.rightsection p{
  font-weight: 700;
  font-size: 31.25px;
  color: #242424;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
}
#inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 70px;
  gap: 5px;
}
.order{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#acceptance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 60px;
}
.input{
  width: 385px;
  font-size: large;
  height: 40px;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  padding-left: 10px;
  margin-top:0px;
  margin-bottom: 10px;
}
.input:focus {
  border: none;
  border-bottom: 2px solid #7C6BF1; /* يظهر فقط الحد السفلي بلون بنفسجي */
  outline: none; /* تأكيد لإلغاء الإطار الخارجي */
}
label{
  font-size: 15px;
  color: #888;
  margin-bottom: 0px;
}
#check {
  margin-right: 40px;
  display: flex;
  align-items: center;
  margin-left: 0px;
}
#check input{
  width: 20px;
  height: 20px;
}
#signupbtn{
  background-color: #7C6BF1;
  color: #fff;
  border: none;
  padding: 17px 36px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
#signupbtn:hover{
  background-color: #5e4ae3;
}
#user{
  font-size: 14px;
  color: #2E2E2E;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-top: 20px;
}
#signupbtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#signupbtn:not(:disabled) {
  background-color: #7C6BF1;
  cursor: pointer;
}
#signupbtn:not(:disabled):hover {
  background-color: #5e4ae3;
}
